body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:85px;
}
#u3590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:85px;
}
#u3590_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u3591 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:24px;
  width:319px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u3591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u3592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:995px;
}
#u3592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:144px;
  height:995px;
}
#u3592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3593 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:141px;
  width:128px;
  height:115px;
  overflow:hidden;
  visibility:hidden;
}
#u3593_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:115px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3593_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3594 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3594_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3595 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:31px;
  width:80px;
  height:25px;
}
#u3595_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3596 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:58px;
  width:80px;
  height:25px;
}
#u3596_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3597 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:86px;
  width:80px;
  height:25px;
}
#u3597_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3598 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:106px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3598_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3599 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:177px;
  width:128px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u3599_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3599_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3600 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3600_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3601 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u3601_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3602 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:57px;
  width:80px;
  height:25px;
}
#u3602_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3603 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:142px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3603_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3604 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:213px;
  width:128px;
  height:59px;
  overflow:hidden;
  visibility:hidden;
}
#u3604_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:59px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3604_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3605 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3605_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3606 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u3606_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3607 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:178px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3607_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3608 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:249px;
  width:128px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u3608_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3608_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3609 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3609_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3610 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u3610_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3611 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:57px;
  width:80px;
  height:25px;
}
#u3611_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3612 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:214px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3613 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:285px;
  width:128px;
  height:59px;
  overflow:hidden;
  visibility:hidden;
}
#u3613_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:59px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3613_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3614 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3614_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3615 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u3615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3616 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:250px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3616_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3617 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:321px;
  width:128px;
  height:59px;
  overflow:hidden;
  visibility:hidden;
}
#u3617_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:59px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3617_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3618 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3618_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3619 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u3619_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3620 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:286px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3620_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3621 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:357px;
  width:128px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u3621_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3621_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3622 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3623 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u3623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3624 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:58px;
  width:80px;
  height:25px;
}
#u3624_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3625 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:322px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3625_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3626 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:393px;
  width:128px;
  height:59px;
  overflow:hidden;
  visibility:hidden;
}
#u3626_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:59px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3626_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3627 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3627_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3628 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u3628_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3629 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:358px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3629_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3630 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:430px;
  width:128px;
  height:35px;
  overflow:hidden;
  visibility:hidden;
}
#u3630_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3630_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3631 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:5px;
  width:88px;
  height:25px;
}
#u3631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:84px;
  word-wrap:break-word;
}
#u3632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3632 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:395px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3632_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3633 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:467px;
  width:128px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u3633_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3633_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3634 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3635 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u3635_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3636 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:58px;
  width:80px;
  height:25px;
}
#u3636_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3637 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:432px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3637_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3638 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:504px;
  width:128px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u3638_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3638_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3639 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3640 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:469px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:33px;
}
#u3641 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:88px;
  width:92px;
  height:33px;
}
#u3641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:2px;
}
#u3642 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:120px;
  width:1719px;
  height:1px;
  font-size:9px;
}
#u3642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:33px;
}
#u3643 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:88px;
  width:92px;
  height:33px;
}
#u3643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
}
#u3644 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:97px;
  width:74px;
  height:18px;
  color:#434343;
}
#u3644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u3645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
}
#u3645 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:97px;
  width:30px;
  height:18px;
  color:#434343;
}
#u3645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u3646 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:144px;
  width:83px;
  height:25px;
}
#u3646_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3646_input:disabled {
  color:grayText;
}
#u3647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:2px;
}
#u3648 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:245px;
  width:1719px;
  height:1px;
}
#u3648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:2px;
}
#u3649 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:197px;
  width:1719px;
  height:1px;
}
#u3649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1719px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3650 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:198px;
  width:1719px;
  height:47px;
}
#u3650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u3651 {
  border-width:0px;
  position:absolute;
  left:1587px;
  top:207px;
  width:111px;
  height:25px;
  font-size:16px;
  text-align:center;
}
#u3651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:111px;
  word-wrap:break-word;
}
#u3652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u3652 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:207px;
  width:83px;
  height:25px;
  font-size:16px;
  text-align:center;
}
#u3652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:83px;
  word-wrap:break-word;
}
#u3653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u3653 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:207px;
  width:83px;
  height:25px;
  font-size:16px;
  text-align:center;
}
#u3653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:83px;
  word-wrap:break-word;
}
#u3654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u3654 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:207px;
  width:83px;
  height:25px;
  font-size:16px;
  text-align:center;
}
#u3654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:83px;
  word-wrap:break-word;
}
#u3655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u3655 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:207px;
  width:83px;
  height:25px;
  font-size:16px;
  text-align:center;
}
#u3655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:83px;
  word-wrap:break-word;
}
#u3656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u3656 {
  border-width:0px;
  position:absolute;
  left:1369px;
  top:207px;
  width:83px;
  height:25px;
  font-size:16px;
  text-align:center;
}
#u3656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:83px;
  word-wrap:break-word;
}
#u3657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u3657 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:210px;
  width:83px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u3657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u3658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u3658 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:207px;
  width:38px;
  height:25px;
  font-size:16px;
  text-align:center;
}
#u3658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:38px;
  word-wrap:break-word;
}
#u3659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3659 {
  border-width:0px;
  position:absolute;
  left:1746px;
  top:144px;
  width:101px;
  height:25px;
  font-size:16px;
}
#u3659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:97px;
  word-wrap:break-word;
}
#u3660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u3660 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:144px;
  width:83px;
  height:25px;
  font-size:16px;
  text-align:center;
}
#u3660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:83px;
  word-wrap:break-word;
}
#u3661 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:144px;
  width:128px;
  height:25px;
}
#u3661_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3661_input:disabled {
  color:grayText;
}
#u3662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u3662 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:144px;
  width:83px;
  height:25px;
  font-size:16px;
  text-align:center;
}
#u3662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:83px;
  word-wrap:break-word;
}
#u3663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u3663 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:144px;
  width:83px;
  height:25px;
  font-size:16px;
  text-align:center;
}
#u3663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:83px;
  word-wrap:break-word;
}
#u3664 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:144px;
  width:110px;
  height:25px;
}
#u3664_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3664_input:disabled {
  color:grayText;
}
#u3665 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:144px;
  width:128px;
  height:25px;
}
#u3665_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3665_input:disabled {
  color:grayText;
}
#u3666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u3666 {
  border-width:0px;
  position:absolute;
  left:1243px;
  top:144px;
  width:83px;
  height:25px;
  font-size:16px;
  text-align:center;
}
#u3666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:83px;
  word-wrap:break-word;
}
#u3667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3668 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:278px;
  width:29px;
  height:18px;
}
#u3668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3669 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:278px;
  width:25px;
  height:18px;
}
#u3669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u3670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3670 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:278px;
  width:414px;
  height:18px;
}
#u3670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  word-wrap:break-word;
}
#u3671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3671 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:278px;
  width:31px;
  height:18px;
}
#u3671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u3672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3672 {
  border-width:0px;
  position:absolute;
  left:1351px;
  top:278px;
  width:147px;
  height:18px;
}
#u3672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u3673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3673 {
  border-width:0px;
  position:absolute;
  left:1577px;
  top:278px;
  width:147px;
  height:18px;
}
#u3673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u3674 {
  border-width:0px;
  position:absolute;
  left:1845px;
  top:271px;
  width:62px;
  height:25px;
}
#u3674_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3675 {
  border-width:0px;
  position:absolute;
  left:1757px;
  top:271px;
  width:62px;
  height:25px;
}
#u3675_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3676 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:278px;
  width:31px;
  height:18px;
}
#u3676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u3677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3677 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:278px;
  width:41px;
  height:18px;
}
#u3677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u3678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3678 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:278px;
  width:33px;
  height:18px;
}
#u3678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u3679 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:144px;
  width:128px;
  height:25px;
}
#u3679_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3679_input:disabled {
  color:grayText;
}
#u3680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u3680 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:144px;
  width:83px;
  height:25px;
  font-size:16px;
  text-align:center;
}
#u3680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:83px;
  word-wrap:break-word;
}
