body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:85px;
}
#u3669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:85px;
}
#u3669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u3670 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:24px;
  width:319px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u3670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u3671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:995px;
}
#u3671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:144px;
  height:995px;
}
#u3671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3672 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:141px;
  width:128px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u3672_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3672_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3673 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3674 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:31px;
  width:80px;
  height:25px;
}
#u3674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3675 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:58px;
  width:80px;
  height:25px;
}
#u3675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3676 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:106px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3677 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:177px;
  width:128px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u3677_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3677_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3678 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3679 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u3679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3680 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:57px;
  width:80px;
  height:25px;
}
#u3680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3681 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:142px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3682 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:213px;
  width:128px;
  height:59px;
  overflow:hidden;
  visibility:hidden;
}
#u3682_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:59px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3682_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3683 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3684 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u3684_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3685 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:178px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3686 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:249px;
  width:128px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u3686_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3686_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3687 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3688 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u3688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3689 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:57px;
  width:80px;
  height:25px;
}
#u3689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3690 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:214px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3691 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:285px;
  width:128px;
  height:59px;
  overflow:hidden;
  visibility:hidden;
}
#u3691_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:59px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3691_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3692 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3693 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u3693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3694 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:250px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3695 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:321px;
  width:128px;
  height:59px;
  overflow:hidden;
  visibility:hidden;
}
#u3695_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:59px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3695_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3696 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3697 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u3697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3698 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:286px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3699 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:357px;
  width:128px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u3699_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3699_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3700 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3701 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u3701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3702 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:58px;
  width:80px;
  height:25px;
}
#u3702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3703 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:322px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3704 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:393px;
  width:128px;
  height:59px;
  overflow:hidden;
  visibility:hidden;
}
#u3704_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:59px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3704_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3705 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3705_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3706 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u3706_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3707 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:358px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3708 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:430px;
  width:128px;
  height:35px;
  overflow:hidden;
  visibility:hidden;
}
#u3708_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3708_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3709 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:5px;
  width:88px;
  height:25px;
}
#u3709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:84px;
  word-wrap:break-word;
}
#u3710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3710 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:395px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3710_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3711 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:467px;
  width:128px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u3711_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3711_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3712 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3713 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u3713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3714 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:58px;
  width:80px;
  height:25px;
}
#u3714_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3715 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:432px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3715_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u3716 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:504px;
  width:128px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u3716_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3716_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3717 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u3717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u3718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u3718 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:469px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3718_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
